

body {
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;

}.MuiTablePagination-displayedRows {
  display: none;
}
#home{
  display: flex;justify-content: center;
  align-items: center;
 }
.MuiTableRow-root{
  margin: 50px;
}
.backgroundModal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(91, 91, 101, 0.5);
}
.modalContainer{
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 /* width: 500px;
 background-color: white;
 height: 50px; */
 border-radius: 10px;
 border: 1px solid black;
 box-shadow: 10px 5px 5px black;
}
.modal{
 margin-top: 10px;
 margin-left: 20px;
 font-weight: bold;
 
 }

.container-close{
margin-left: 110px;
   width: 20px;
  height: 20px;
 }
 .close img{
  cursor: pointer;
  margin-top: -10px;
 }